<configuration>

    <!-- Console Appender for JSON output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <pattern>yyyy/MM/dd HH:mm:ss.SSS</pattern>
                </timestamp>>
                <logLevel />
                <!-- reduce output for now
                     <loggerName />
                -->
                <mdc />
                <message />
                <arguments />
            </providers>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
