#container {
    display: flex;
}
#map {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
}
#feature-list-component {
    position: absolute;
    top: calc(var(--navbar-height) + 5rem);
    padding: 1rem;

    /*min-width: 360px;*/
    background: white;

    /* TODO: on mobile move to bottom sheet */
    /*
      bottom: 0px;
      overflow: scroll;
      max-height: 8rem;
   */
}
