body {
    /* this css is to remove pull-to-scroll on feature-list-component but
     * it seems to be ok without - can't replicate */

    /* overscroll-behavior-y: contain; */
    /* overflow: hidden; */
}

/*
 *  typically map contents;
 *  excludes control and navbar
 */
#container {
  display: flex;
  height: 100%;
}

#map {
  width: 100%;
}

/*
 * maptiler component overrides
 */
.geocoding div.input-group {
  height: 45px;
}
.geocoding form {
  width: 100% !important;
  max-width: 100% !important;
  @media not all and (max-width: 640px) {
    width: 270px !important;
    max-width: 270px !important;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 150px !important;
    max-width: 150px !important;
  }
}

#feature-list-component {
  position: fixed;

  bottom: env(safe-area-inset-bottom, 0);

  background: white;

  padding: 1rem;

  max-height: 11.5rem;

  min-width: 100%;
  /*overflow: scroll;*/
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;

  border: 1px solid #000;
  /*desktop*/
  @media not all and (max-width: 640px) {
    width: auto;
    min-width: 24rem;
    max-height: 24rem;

    bottom: auto; /* "clear" */
    top: 10rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;

    border: none;
  }
}

.dropdown-responsive {
    @media (max-width: 640px) {
        position: static !important;
    }

    .dropdown-content {

        /* for tiny screens, override dropdown content to be full width */

        @media (max-width: 640px) {

            position: absolute !important;
            top: 10rem !important;
            width: calc(100vw - 2px);
            left: 1px;
            border-radius: 0;
            border: 1px solid #000;

            /* need to allow clickable checkbox on mobile  */
            margin-top: 2.75rem;
        }
        /* align end */
        @media (min-width: 640px) and (max-width: 1024px) {
            inset-inline-end: 0px;
        }

    }

    .dropdown-chevron {
        @media (max-width: 480px) {
            display:none;
        }
    }
}

#spinner {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
